<ion-view title="About Us">
	<ion-content style="margin-bottom:40px;">
		<div class="card">
			<div class="item item-body item-text-wrap">
				<img class="full-image" src="img/utm_buiding.jpg" alt="utm_buiding">
				<p>University of Technology and Management offers graduate and post-graduate programs in Travel & Tourism, and Technology. The University aims to offer world-class education, training, research, consultancy, and outreach services to impart and ensure upward mobility of the professionals. Campus of UTM is located at Shillong, the capital of the Indian State of Meghalaya that is also known as the 'Scotland of the East'. The breathtaking beauty of the city and its serene climate fosters an environment that is conducive for academic learning. The Board of Governors, Board of Management, Academic Council and the University officials are collectively responsible for governing and managing the affairs of the university and to ensure its smooth and transparent functioning.

				</p>
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				<h2 class="title">Background</h2>	
			</div>
			<div class="item item-body item-text-wrap">
				<p>Maharashtra Institute of Technology (MIT), Pune is the first private Engineering Institute established in 1983 at Pune, Maharashtra. It is one of the premier institutes for Indian and international students offering Undergraduate and Post Graduate courses in Engineering, Management, Medicine, Pharmacy, Design, and so on.
<br>
Contributing towards the industrial, economic, and social growth of the society for over a quarter of a century, Maharashtra Academy of Engineering Education and Research (MAEER)’s MIT Group of Institutions has helped realize the dreams and aspirations of thousands of students. Being the brainchild of its visionary founder Prof. Vishwanath D. Karad, MIT managed to craft a niche position for being a one-of-its-kind undertaking that focused on value-based education.
<br>
The MIT Group of Institutions Pune has positioned itself on the threshold of unveiling a revolution in India’s higher education sector. In the years to come, the Group aspires to elevate and refine learning spheres and techniques and secure the nation’s reputation as a world leader in education. After establishing a stronghold in Maharashtra with highly successful campuses throughout the state, MIT is working on expanding its reach across the nation. It has established a campus in Ujjain, Madhya Pradesh - Avantika University to cater the student needs of the region.


				</p>
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				<h2 class="title">Accredation</h2>	
			</div>
			<div class="item item-body item-text-wrap">
				<p>UTM aims to be a University that imparts intensive, high-quality technical and management education and has set for itself rigorous standards that lay premium on self-governance, regulation and excellence. To achieve its objective, the University will work towards achieving accreditation by the National Assessment and Accreditation Council (NAAC).
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>
