
<ion-view view-title="UTM-LIBRARY">
  <ion-header-bar class="bar-positive">
		<a href="#/library"><img  src="img/logo.png" height="33px" width="50px;" alt="UTM"></a>
		<h1 class="title">Library</h1>
		<div class="buttons">
			<div class="button button-clear" ng-click="logout()">Logout</div>
		</div>
	</ion-header-bar>
  <ion-content>
<form ng-submit="addBook()">
    <ion-list>
        <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Book Name</span>
    <input type="text" placeholder="Book Name" ng-model="book.book_name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Author Name</span>
    <input type="text" placeholder="Author Name" ng-model="book.author">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Book Id</span>
    <input type="text" placeholder="Book Id" ng-model="book.bookid">
  </label>

</div>
           
            
            <center><button type="submit" class = "button button-block button-calm"><strong> ADD Book</strong></center>
           
                </button>
            
            
        </div>
    </ion-list> 
</form>   
  </ion-content>
</ion-view>

