
<ion-view view-title="UTM Admissions">
  <ion-content>
    <ion-list>
	<div ng-if="!status"><strong>{{error}}</strong></div>
	<div ng-if="status">
	<form ng-submit="sendAdmission()">
        <div class = "list">
           

            <label class = "item item-input">
            <input type = "text" placeholder = "First Name" ng-model="admission.firstname"/>
            </label>
            
            <label class = "item item-input">
            <input type = "text" placeholder = "Last Name" ng-model="admission.lastname"/>
            </label>
            
            <label class = "item item-input">
            <input type = "email" placeholder = "Email" ng-model="admission.email"/>
            </label>
           
            
            <label class = "item item-input"><span style="color:#D3D3D3" class="input-label">DOB</span>
            <input type = "date"  ng-model="admission.DOB"/>
            </label>
            
            <label class = "item item-input item-select">
                
		<span style="color:#D3D3D3" class="input-label">Branch</span>
                <select ng-model="admission.branch">
			 <option>BBA</option>
        	        <option>BTech in Computer Science Engineering</option>
                	<option>BTech in Mechanical Engineering</option>
          	      <option>BTech in Civil Engineering</option>
          	      <option>BTech in Petroleum Engineering</option>
               
                </select>
            </label>
            <label class = "item item-input">
           	 <input type = "text" placeholder = "Contact Number" ng-model="admission.contact_number"/>
            </label>
             <label class = "item item-input">
           	 <input type = "text" placeholder = "Address" ng-model="admission.address"/>
            </label>
            
          <button class="button button-block button-positive" type="submit">Register</button>
        
            
        </div>
	</form>
	</div>
    </ion-list>    
  </ion-content>
</ion-view>

