<ion-view view-title="Hospality" >
<ion-header-bar class="bar-positive">
      <h1 class="title">Accordion List</h1>
    </ion-header-bar>

    <ion-content>

      <ion-list >
        <div  ng-repeat="group in groups">
          <ion-item  ng-bind-html="group.name" class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            </ion-item>
          <ion-item class="item-accordion item-text-wrap" 
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
              {{item}}
          </ion-item>
        </div>
      </ion-list>

    </ion-content>
    </ion-view>
 
