<ion-view view-title="ContactUs">
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				<h2 class="title">Contact Us</h2>
			</div>
			<ion-slide-box does-continue="true" auto-play="true">
				<ion-slide>
					<strong class="green2">University of Technology and Management :</strong><br />
					<strong class="green2">Enrollments Office &amp; Campus </strong><br />
					<span style="color: #000000; font-weight: normal;">Handers Building,</span><br />
									Adjacent to Ramakrishna Mission Dispensary,<br />
									Laitumkhrah Main Road,<br />
									Lumawrie<br />
									Shillong, Meghalya-793003<br />							
				<i class="icon ion-ios-telephone"></i> <a href="tel:0-87946 00250">0-87946 00250</a>, <a href="tel:0364-2500969">0364-2500969</a> / <a href="tel:0364-2500955">2500955</a>
				</ion-slide>
				<ion-slide>
					<strong class="green2">Project Office</strong><br />
				        <span style="color: #000000; font-weight: normal;">Avanti, 3rd Floor, MIT Campus, Kothrud, Pune-411038, Maharashtra, India.</span><br />
						<strong class="green2">
						  <i class="icon ion-ios-telephone"></i> <a href="tel:18008334466"> 1800-833-44-66 </a>
						</strong>							
				</ion-slide>
			</ion-slide-box>
		</div>
  </ion-content>
  </ion-view>
