
<ion-view view-title="Faculty">
  <ion-content style="margin-bottom:40px;">
         	<div ng-if="!status"><strong>{{error}}</strong></div>
		<div ng-if="status">
		  <div class="card" ng-repeat="fac in faculty | filter:{department:'faculty'}">
			<div class="item item-divider">
			<h2 class="title"><strong>{{fac.fullname}}</strong></h2>
			</div>
            <div class="item  item-thumbnail-left item-text-wrap">
                <img ng-src="{{fac.image}}" style=" height: 40vw; width: 40vw; border: 1px solid #fff; border-radius: 50%;display: inline-block;margin-left: auto; margin-right: auto;">
				<h4><strong>Designation :-</strong> {{fac.designation}}<br>
					<strong>Qualification :- </strong>{{fac.qualification}}<br>
                    <strong>Fore Front Area of Research:-</strong> {{fac.fore_front_area_of_research}}<br>
                    <strong>Email id:-</strong> {{fac.emailid}}<br>
                    <strong>Experience:-</strong> {{fac.experience}}<br>
		    <strong >Award and Achievements:-</strong> {{fac.award_and_achievements}}</h4>
		    </div>
			</div>
			</div>
			
  </ion-content>
</ion-view>
