
<ion-view view-title="Faculty">
<ion-header-bar class="bar-positive">
		<a href="#/student"><img  src="img/logo.png" height="33px" width="50px;" alt="UTM"></a>
		<h1 class="title">Student</h1>
		<div class="buttons">
			<div class="button button-clear" ng-click="logout()">Logout</div>
		</div>
	</ion-header-bar>
  <ion-content style="margin-bottom:40px;">
   
		 <ion-list show-delete="shouldShowDelete">
		<div class="item item-divider">
			<h2 class="title"><strong>{{b.book_name}}</strong></h2>
			</div>
      <ion-item ng-repeat="b in book1" class="item-thumbnail-left" on-swipe-left="issuedBook(b._id)">
   
       <strong>Book ID :-</strong> {{b.bookid}}<br>
					<strong>Author :- </strong>{{b.author}}<br>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
