<ion-view>
<ion-header-bar class="bar-positive">
		<a href="#/library"><img  src="img/logo.png" height="33px" width="50px;" alt="UTM"></a>
		<h1 class="title">Library</h1>
		<div class="buttons">
			<div class="button button-clear" ng-click="logout()">Logout</div>
		</div>
	</ion-header-bar>
  <ion-content>
<form ng-submit="removeBook()">
    <ion-list>
        <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Book Id</span>
    <input type="text" placeholder="Book Id" ng-model="removeBook.book_id">
  </label>
   
            
            <center><button type="submit" class = "button button-block button-calm"> <strong>DELETE</strong></center>
           
                </button>
            
            
        </div>
    </ion-list>
</form>    
  </ion-content>
</ion-view>

