<ion-view view-title="UTM-LIBRARY">
  <ion-header-bar class="bar-positive">
		<a href="#/sre"><img  src="img/logo.png" height="33px" width="50px;" alt="UTM"></a>
		<h1 class="title">SRE</h1>
		<div class="buttons">
			<div class="button button-clear" ng-click="logout()">Logout</div>
		</div>
	</ion-header-bar>
  <ion-content>
    <ion-list>
	<form ng-submit="doRemoveStudent()">
        <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Sap Id</span>
    <input type="text" placeholder="SAP Id" ng-model="remove.username">
  </label>
   
            
            <center><button class = "button button-block button-calm"> <strong>Remove Student</strong></center>
           
                </button>
            
            
        </div>
	</form>
    </ion-list>    
  </ion-content>
</ion-view>

