<ion-view >
    	<ion-header-bar class="bar-positive">
		<a href="#/student"><img src="img/logo.png" height="33px" width="50px;" alt="UTM"></a>
		<h1 class="title">Result</h1>
		<div class="buttons">
			<div class="button button-clear" ng-click="logout()">Logout</div>
		</div>
	</ion-header-bar>
    <ion-content >
	
      <ion-list >
        <div  ng-repeat="result in student.results">
          <ion-item   class="item-stable button button-block button-positive"
                    ng-click="toggleGroup(result)"
                    ng-class="{active: isGroupShown(result)}">
             {{result.semester}}
            </ion-item>
          <ion-item class="item-accordion item-text-wrap" 
                    
                    ng-show="isGroupShown(result)">
             <img width="350px" height="500px" ng-src= "{{result.image}}">
          </ion-item>
        </div>
      </ion-list>

    </ion-content>
    </ion-view>
