
<ion-view view-title="Faculty">
<ion-header-bar class="bar-positive">
		<a href="#/library"><img  src="img/logo.png" height="33px" width="50px;" alt="UTM"></a>
		<h1 class="title">Library</h1>
		<div class="buttons">
			<div class="button button-clear" ng-click="logout()">Logout</div>
		</div>
	</ion-header-bar>
  <ion-content style="margin-bottom:40px;">
         	<label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="books">
</label>
		  <div class="card" ng-repeat="b in book1 | filter:books">
			<div class="item item-divider">
			<h2 class="title"><strong>{{b.book_name}}</strong></h2>
			</div>
            <div class="item  item-text-wrap">
       
				<strong>Book ID :-</strong> {{b.bookid}}<br>
					<strong>Author :- </strong>{{b.author}}<br>
			 
		    </div>
			</div>
			</div>
			
  </ion-content>
</ion-view>
