<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<img src="img/logo.png" height="33px" width="50px;" alt="UTM">
		<h1 class="title">Student Login</h1>
		<div class="buttons">
			<div style="color:black;" class="button button-clear" ng-click="closeStudentLogin()">Close</div>
		</div>
	</ion-header-bar>
    <ion-content>
        <form ng-submit="doStudentLogin()">
		<div class="list">
                        <label class="item item-input">
                            <input type="text" ng-model="loginStudentData.username" placeholder="SAP ID">
                        </label>
                        <label class="item item-input">
                            <input type="password" ng-model="loginStudentData.password" placeholder="Password">
                        </label>
                    </div>

                    <button style="color:black;" type="submit"  class="button button-block button-positive">
                        Log In
                    </button>

                    <div class="row row-no-padding">
                        <div class="col">
                            <a  href="mailto:amanadhikari228922@gmail.com" style="color:black;"  class="button button-clear button-light">
                                Forgot password?
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
