<ion-view >
    	<ion-header-bar class="bar-positive">
		<img src="img/logo.png" height="33px" width="50px;" alt="UTM">
		<h1 class="title">Student</h1>
		<div class="buttons">
			<div class="button button-clear" ng-click="logout()">Logout</div>
		</div>
	</ion-header-bar>
    <ion-content>

      <div class="card" >
		<div class="item item-divider">
			<h2 class="title"> <strong>Welcome </strong></h2>
		</div>
      		<div class="item  item-thumbnail-left item-text-wrap">
                	<img ng-src="{{student.image}}" style="height: 30vw;border: 0.5px solid #fff;border-radius: 50%;display: inline-block;margin-left: 0px; margin-right: auto;">
		    	<h4>
				<b>Name :-</b>{{student.fullname}} <br>
				<b>SAP ID :- </b>{{student.username}}<br>
				<b>Roll Number:-</b>{{student.roll_number}}<br>
                    		<b>Phone Number:-</b>{{student.contact_number}}<br>
                    		<b>Email id:-</b>{{student.email}}<br>
                    		<b>Address:-</b>{{student.address}}
			</h4>
		</div>
            </div><br>
        <div >
            <center><a href="#/issued_book" style="text-decoration:none" class="button button-block button-calm">ISSUED BOOK</a></center>
            <center><a href="#/result" style="text-decoration:none" class="button button-block button-calm">GRADE CARD</a></center>
            <center><a href="#" style="text-decoration:none" class="button button-block button-calm">FEE STATUS</a></center>
            <center><a href="#" style="text-decoration:none" class="button button-block button-calm">UPDATE PROFILE</a></center>
            <center><a href="#" style="text-decoration:none" class="button button-block button-calm">LIBRARY CATALOGUE</a></center>
        </div>
    </ion-content>
    </ion-view>
