
<ion-view>
  <ion-header-bar class="bar-positive">
		<a href="#/sre"><img  src="img/logo.png" height="33px" width="50px;" alt="UTM"></a>
		<h1 class="title">SRE</h1>
		<div class="buttons">
			<div class="button button-clear" ng-click="logout()">Logout</div>
		</div>
	</ion-header-bar>
  <ion-content>
    <ion-list>
<form ng-submit="doUpdateStudent()">
        <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">SAP ID</span>
    <input type="text" placeholder="SAP ID" ng-model="update.username">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Full Name</span>
    <input type="text" placeholder="Full Name" ng-model="update.fullname">
  </label>
  <label class="item item-input">
       				
				<button class="button button-block button-calm" type="button" ng-click="UtakePicture()">
            				Open Camera
        			</button>
        		</label>
   <label class="item item-input">
       				
				<button class="button button-block button-calm" type="button" ng-click="Ugallery()">
            				Open Gallery
        			</button>
        		</label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Roll Number</span>
    <input type="text" placeholder="Roll Number" ng-model="update.roll_number">
  </label>
   <label class = "item item-input item-select">
                
		<span style="color:#D3D3D3" class="input-label">Course</span>
                <select ng-model="admission.branch" ng-model="update.Branch">
			 <option>BBA</option>
        	        <option>BTech in Computer Science Engineering</option>
                	<option>BTech in Mechanical Engineering</option>
          	      <option>BTech in Civil Engineering</option>
          	      <option>BTech in Petroleum Engineering</option>
                </select>
            </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Semester</span>
  
    <input type="text" placeholder="Semester" ng-model="update.semester">
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">Attendance</span>
  
    <input type="text" placeholder="Attendance" ng-model="update.attendance">
  </label>
   <label class="item item-input">
     <span style="color:#D3D3D3" class="input-label">DOB</span>
  
    <input type="date" placeholder="DOB" ng-model="update.DOB">
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">EmailID</span>
  
    <input type="email" placeholder="EmailID" ng-model="update.email">
  </label>

   <label class="item item-input item-floating-label">
    <span class="input-label">Contact Number</span>
  
    <input type="text" placeholder="Contact Number" ng-model="update.contact_number">
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">Address</span>
  
    <input type="text" placeholder="Address" ng-model="update.address">
  </label>
</div>
           
            
            <center><button type="submit" class = "button button-block button-calm"><strong> Update Student</strong></center>
           
                </button>
            
            
        </form>
    </ion-list>    
  </ion-content>
</ion-view>

