
<ion-view >
	  <ion-header-bar class="bar-positive">
		<a href="#/sre"><img  src="img/logo.png" height="33px" width="50px;" alt="UTM"></a>
		<h1 class="title">SRE</h1>
		<div class="buttons">
			<div class="button button-clear" ng-click="logout()">Logout</div>
		</div>
	</ion-header-bar>
  <ion-content>
    <ion-list>
	<form ng-submit="uploadResult()">
        <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Sap Id</span>
    <input type="text" placeholder="Sap Id" ng-model="upload.username">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Semester</span>
    <input type="text" placeholder="Semester" ng-model="upload.semester">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Result</span>
    <input type="text" placeholder="Result" ng-model="upload.image">
  </label>
  
</div>
           
            
            <center><button type="submit" class = "button button-block button-calm"> <strong>UPLOAD</strong></center>
           
                </button>
            
            
        </div>
	</form>
    </ion-list>    
  </ion-content>
</ion-view>

