<ion-view view-title="Academics">
  <ion-content style="margin-bottom:40px;">
 <ion-list>
     <ion-item><a href="#/app/bba-hospitality" style="text-decoration:none;color:black;">Hospitality, Travel and Tourism</a> </ion-item>
     <ion-item><a href="#/app/finance" style="text-decoration:none;color:black;">Finance</a></ion-item>
     <ion-item><a href="#/app/marketing" style="text-decoration:none;color:black;">Marketing</a></ion-item>
     <ion-item><a href="#/app/retail" style="text-decoration:none;color:black;">Retail</a></ion-item>
</ion-list>
      <div class="card">
            <div class="item item-body item-text-wrap">
                <h1>BBA</h1><hr>
                <p>With a knowledge platter as varied Marketing, Finance, Retail, Hospitality, Travel and Tourism, UTM offers the best specializations in business administration. Bachelor of Business Administration, popularly known as BBA has been designed keeping in mind the changing scenarios of the business world. The program mainly focuses in imparting practical as well as conceptual knowledge to future professionals who will join the competitive corporate world. The program has been designed to mold the students in such a way that the job expectations of the corporate world are met and the ratio of job requirements and human resources remains balanced.

                Students can pursue BBA in: <br>1.Hospitality, Travel, and Tourism
                <br>2.Finance
                <br>3.Marketing
                <br>4.Retail
                </p>
            </div>
      </div>
  </ion-content>
</ion-view>
