
<ion-view>
  <ion-header-bar class="bar-positive">
		<a href="#/sre"><img  src="img/logo.png" height="33px" width="50px;" alt="UTM"></a>
		<h1 class="title">SRE</h1>
		<div class="buttons">
			<div class="button button-clear" ng-click="logout()">Logout</div>
		</div>
	</ion-header-bar>
  <ion-content>
    <ion-list>
<form ng-submit="doRegistration()">
        <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">SAP ID</span>
    <input type="text" placeholder="SAP ID" ng-model="register.username">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="Password" ng-model="register.password">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Full Name</span>
    <input type="text" placeholder="Full Name" ng-model="register.fullname">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Image</span>
    <input type="text" placeholder="Image" ng-model="register.image">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Roll Number</span>
    <input type="text" placeholder="Roll Number" ng-model="register.roll_number">
  </label>
   <label class = "item item-input item-select">
                
		<span style="color:#D3D3D3" class="input-label">Course</span>
                <select ng-model="register.Branch">
			 <option>BBA</option>
        	        <option>BTech in Computer Science Engineering</option>
                	<option>BTech in Mechanical Engineering</option>
          	      <option>BTech in Civil Engineering</option>
          	      <option>BTech in Petroleum Engineering</option>
               
                </select>
            </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Semester</span>
  
    <input type="text" placeholder="Semester" ng-model="register.semester">
  </label>
    <label class="item item-input item-floating-label">
    <span class="input-label">Attendance</span>
  
    <input type="text" placeholder="Attendance" ng-model="register.attendance">
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">Date Of Birth</span>
  
    <input type="date" placeholder="DOB" ng-model="register.DOB">
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">EmailID</span>
  
    <input type="email" placeholder="EmailID" ng-model="register.email">
  </label>

   <label class="item item-input item-floating-label">
    <span class="input-label">Contact Number</span>
  
    <input type="text" placeholder="Contact Number" ng-model="register.contact_number">
  </label>
   <label class="item item-input item-floating-label">
    <span class="input-label">Address</span>
  
    <input type="text" placeholder="Address" ng-model="register.address">
  </label>
</div>
           
            
            <center><button type="submit" class = "button button-block button-calm"><strong> ADD Student</strong></center>
           
                </button>
            
            
        </form>
    </ion-list>    
  </ion-content>
</ion-view>

