<ion-view view-title="Home">
  <ion-content style="margin-bottom:40px;" has-header="true">
	<ion-slide-box auto-play="true" does-continue="true">
		<ion-slide>
			<img style="width:100%" src="img/b1.png" alt="UTM">
		</ion-slide>
		<ion-slide>
			<img style="width:100%" src="img/b2.png" alt="UTM">
		</ion-slide>
		<ion-slide>
			<img style="width:100%" src="img/b3.png" alt="UTM">
		</ion-slide>
		<ion-slide>
			<img style="width:100%" src="img/b5.png" alt="UTM">
		</ion-slide>
		<ion-slide>
			<img style="width:100%" src="img/b6.png" alt="UTM">
		</ion-slide>
		<ion-slide>
			<img style="width:100%" src="img/b7.png" alt="UTM">
		</ion-slide>
	</ion-slide-box>
	<div class="card">
		<div class="item item-divider">
			<h2 class="title"><strong>Our Recruiters</strong></h2>
		</div>
		<div class="item">
			<img style="width:100%" src="img/company 1.png" alt="company"><br>
			<img style="width:100%" src="img/company 2.png" alt="company"><br>
			<img style="width:100%" src="img/company 3.png" alt="company">
		</div>
	</div>
	<div style="height:260px;" class="card">
		<div class="item item-divider">
			<h2 class="title"><strong>Videos</strong></h2>
		</div>
		<ion-slide-box does-continue="true" auto-play="true">
			<ion-slide>
				<a href="video/UTM Shillong & IBM India.mp4">
					<video style="width:100%" poster="img/poster 2.png" src="video/UTM Shillong & IBM India.mp4"></video>
				</a>
			</ion-slide>
			<ion-slide>
				<a href="video/UTM New-Age Accomplishments.mp4">
					<video style="width:100%" poster="img/poster 1.png" src="video/UTM New-Age Accomplishments.mp4"></video>
				</a>
			</ion-slide>
		</ion-slide-box>
	</div>
	<div class="card">
		<div class="item item-divider">
			<h2 class="title"><strong>Testimonial</strong></h2>
		</div>
		
			<ion-slide-box does-continue="true" auto-play="true">
				<ion-slide>	<div class="item item-thumbnail-left item-text-wrap">						
					<img style=" border-radius:50%; width:100px; height:100px;" src="img/person 1.jpg" alt="Person">
					<p> I started my journey at UTM in 2013 for BBA Hospitality Travel and Tourism. Joining UTM has helped me a lot in my life. The University situated in a very 						   friendly and peaceful environment. The faculties and teachers in the university are highly qualified and from them we can let a lot in our respective fields.<br>

					   <b>Student Name:</b> Zajamo Ovung <br>
					   <b>Course Name:</b> BBA HTT<br>
					   <b>Batch:</b> 2013-16
					</p></div>
				</ion-slide>
				<ion-slide><div class="item item-thumbnail-left item-text-wrap">
					<img style="border-radius:50%;height:100px;width:100px;" class="img-responsive img-circled" src="img/person 2.jpg" alt="Person">
					<p> 
						I have started my journey at UTM a year ago as a student seeking knowledge in the Hospitality travel and Tourism sector .Our university provided us a very 							unique course and I consider myself lucky to have made lots of friends whom I will treasure all my life .<br>

						<b>Student Name:</b> Rajashree Rajlaxmi<br>
						<b>Course Name:</b>BBA HTT<br>
						<b>Batch :</b>2013-16
					</p></div>
				</ion-slide>
			</ion-slide-box>
		
	</div>
	
  </ion-content>
</ion-view>
