<ion-view >
    	<ion-header-bar class="bar-positive">
		<img src="img/logo.png" height="33px" width="50px;" alt="UTM">
		<h1 class="title">Result</h1>
		<div class="buttons">
			<div class="button button-clear" ng-click="logout()">Logout</div>
		</div>
	</ion-header-bar>
    <ion-content >
	<div ng-repeat="result in student.results">
            <center><a ng-href="{{result.image}}" style="text-decoration:none" class="button button-block button-calm">{{result.semester}}</a></center>
        </div>
    </ion-content>
    </ion-view>
