<ion-side-menus enable-menu-with-back-views="false">
  <div class="tabs-stripped tabs-color-dark ">
	<ul class="tabs tabs-positive">
		<li class="tab-item"><a ng-click="studentlogin()" ><i class="icon dark ion-android-person "></i></a></li>
		<li class="tab-item"><a ng-click="stafflogin()" ><i class="icon dark ion-ios-people"></i></a></li>
	</ul>  
  </div>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="mainContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <img class="title" src="img/logo.png" menu-toggle="left" alt="UTM">
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
        <i class="icon ion-home"></i>  Home 
        </ion-item>
        <ion-item menu-close href="#/app/aboutus">
         <i class="icon ion-information-circled"></i> About us
        </ion-item>
        <ion-item menu-close href="#/app/admission">
          <i class="icon ion-person-add"></i> Admission
        </ion-item>
	<ion-item menu-close href="#/app/academics">
          <i class="icon ion-map"></i> Academics
        </ion-item>
	 <ion-item menu-close href="#/app/faculties">
         <i class="icon ion-ios-people"></i> Faculties
        </ion-item>
	 <ion-item menu-close href="#/app/contactus">
         <i class="icon ion-android-contact"></i> Contact us
        </ion-item>
	 <ion-item menu-close ng-click="studentlogin()">
         <i class="icon ion-android-person"></i> Sign in
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
