<ion-view >
    	<ion-header-bar class="bar-positive">
		<img src="img/logo.png" height="33px" width="50px;" alt="UTM">
		<h1 class="title">SRE</h1>
		<div class="buttons">
			<div class="button button-clear" ng-click="logout()">Logout</div>
		</div>
	</ion-header-bar>
    <ion-content>

      <div class="card" >
		<div class="item item-divider">
			<h2 class="title"> <strong>Welcome </strong></h2>
		</div>
      		<div class="item  item-thumbnail-left item-text-wrap">
                	<img ng-src="{{staff.image}}" style="height: 30vw;border: 0.5px solid #fff;border-radius: 50%;display: inline-block;margin-left: 0px; margin-right: auto;">
		    	<h4>
				<b>Name :-</b>{{staff.fullname}} <br>
				<b>Designation :- </b>{{staff.designation}}<br>
				<b>Department:-</b>{{staff.department}}<br>
                    		
                    		<b>Email id:-</b>{{staff.emailid}}<br>
                    		
			</h4>
		</div>
            </div><br>
        <div >
            <center><a href="#/add_student" style="text-decoration:none" class="button button-block button-calm">Add Student</a></center>
	     <center><a href="#/update_student" style="text-decoration:none" class="button button-block button-calm">Update Student</a></center>
            <center><a href="#/remove_student" style="text-decoration:none" class="button button-block button-calm">Remove Student</a></center>
            <center><a href="#/students_details" style="text-decoration:none" class="button button-block button-calm">Students Details</a></center>
            <center><a href="#" style="text-decoration:none" class="button button-block button-calm">Upload Result</a></center>
           
        </div>
    </ion-content>
    </ion-view>
