<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<img src="img/logo.png" height="33px" width="50px;" alt="UTM">
		<h1 class="title">Staff Login</h1>
		<div class="buttons">
			<button style="color:black" ng-click="closeStaffLogin()" class="button button-clear">Close</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<form ng-submit="doStaffLogin()">
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Email" ng-model="loginStaffData.username">
				</label>
				<label class="item item-input">
					<input type="password" placeholder="password" ng-model="loginStaffData.password">
				</label>
				<label class="item item-select">
					<span style="color:#D3D3D3" class="input-label">Department</span>
					<select  ng-model="loginStaffData.department">
						<option >faculty</option>
						<option>Librarian</option>
						<option>SRE</option>
						<option>Account</option>		
					</select>
				</label>
				<button style="color:black;" type="submit" class="button button-block button-positive">Login</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>
