
<ion-view view-title="Faculty">
<ion-header-bar class="bar-positive">
		<a href="#/sre"><img  src="img/logo.png" height="33px" width="50px;" alt="UTM"></a>
		<h1 class="title">SRE</h1>
		<div class="buttons">
			<div class="button button-clear" ng-click="logout()">Logout</div>
		</div>
	</ion-header-bar>
  <ion-content style="margin-bottom:40px;">
         	<label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="students">
</label>
		  <div class="card" ng-repeat="std in student | filter:students">
			<div class="item item-divider">
			<h2 class="title"><strong>{{std.fullname}}</strong></h2>
			</div>
            <div class="item  item-thumbnail-left item-text-wrap">
                <img ng-src="{{std.image}}" style=" height: 40vw; width: 40vw; border: 1px solid #fff; border-radius: 50%;display: inline-block;margin-left: auto; margin-right: auto;">
				<h4><strong>SAP ID :-</strong> {{std.username}}<br>
					<strong>Roll Number :- </strong>{{std.roll_number}}<br>
			 <strong>Branch:-</strong> {{std.Branch}}<br>
			 <strong>Semester:-</strong> {{std.semester}}<br>
			 <strong>DOB:-</strong> {{std.DOB}}<br>
                    <strong>Email ID:-</strong> {{std.email}}<br>
                    <strong>Contact Number:-</strong> {{std.contact_number}}<br>
                    <strong>Attendance:-</strong> {{std.attendance}}<br>
		    <strong >Registation Fine:-</strong> {{std.registration_fine}}<br>
		     <strong >Book Issued Fine:-</strong> {{std.book_issued_fine}}</h4>
		    </div>
			</div>
			</div>
			
  </ion-content>
</ion-view>
